@media screen and (max-width:1023px) {
  /* CSS */
  body {
    font-size: 1.4rem;
    line-height: 1.8em;
  }
  h2 {
    font-size: 2.6rem;
  }
  h3 {
    font-size: 1.8rem;
  }

  /* Header */
  header.fill .hd_inner {
    background-color: rgba(250, 247, 228, 0.9);
    box-shadow: 0 2px 4px rgba(139, 122, 66, 0.1);
    z-index: -1;
  }
  
  .hd_inner {
    height: 60px;
    padding: 0 20px;
  }

  .hd_lt h1.logo {
    width: 40px;
    height: 35px;
  }

  .hd_menu_bar {
    scale: 0.8;
    position: unset;
    transform: unset;
  }

  .hd_menu {
    top: 0;
    left: 0;
    z-index: -1;
    transform: unset;
  }
  .hd_menu .shape_tail {
    display: none;
  }
  .hd_menu_inner {
    width: 100vw;
    border-radius: 0 0 16px 16px;
    padding: 80px 0 40px 0;
  }
  .hd_menu_inner li {
    padding: 18px 0;
  }

  .hd_menu_inner a {
    font-size: 2rem;
  }
  .hd_menu_inner li.active a {
    color: #6b5684;
  }

  .hd_menu_inner .contact {
    display: none;
  }
  .hd_menu_inner .contact p {
    padding-top: 35px;
    display: inline-block;
  }
  .hd_menu_inner .contact p.mail {
    transform: translateX(35px);
  }
  .hd_menu_inner .contact i {
    font-size: 1.3rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    color: #6b5684;
    border: 2px solid #d0badf;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 27px;
  }
  .hd_menu_inner .contact .tel i {
    font-size: 1.25rem;
  }

  .hd_rt {
    display: none;
  }

  /* Background Ani : Shape */
  .bg_ani .shape_zero,
  .bg_ani .shape_one,
  .bg_ani .shape_two,
  .bg_ani .shape_three {
    scale: 0.75;
  }
  
  /* Background Ani : Position */
  .bg_shape_yl .shape_two {
    left: 6%;
  }
  .bg_shape_yl .shape_three {
    left: 80%;
  }

  .bg_shape_pp .shape_zero {
    left: 20%;
  }
  .bg_shape_pp .shape_one {
    left: 94%;
  }

  /* Container */
  .container {
    width: 100%;
    padding: 0 20px;
  }

  /* Section : Main */
  .main_txt p {
    font-size: 5.6rem;
  }

  /* Section Tit Common */
  .section_tit_wr {
    margin-bottom: 40px;
    margin-left: 12px;
  }

  .section_tit_wr .shape_one,
  .section_tit_wr .shape_two,
  .section_tit_wr .shape_three {
    scale: 0.75;
    top: -18px;
    left: -17px;
  }
  .section_tit_wr .shape_two {
    left: -20px;
  }
  .section_tit_wr .shape_three {
    top: -24px;
  }
  
  /* Section : Profile */
  section.profile {
    margin-top: 80px;
  }

  .profile_wr {
    margin-top: 150px;
  }

  .profile_img {
    width: 180px;
    height: 180px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .profile_info_wr {
    width: 100%;
    margin: 0;
    border-radius: 16px;
    padding: 120px 40px 30px 40px;
    flex-direction: column;
    gap: 35px;
    text-align: center;
  }
  .profile_info_tit {
    margin-bottom: 10px;
  }
  .profile_info li:not(:last-child) {
    margin-bottom: 8px;
  }  
  .profile_info p {
    font-size: 1.4rem;
  }
  .profile_info small {
    font-size: 1.2rem;
  }

  .profile_info .personal li {
    display: inline-block;
  }
  .profile_info .personal li:not(:last-child) {
    margin-right: 20px;
  }
  .profile_info .personal br + li {
    margin: 0;
  }
  .profile_info .personal p {
    display: inline-block;
    margin-left: 8px;
  }

  .profile_tag_wr {
    margin: 5px 0 12px 0;
  }
  .profile_info button {
    font-size: 1.2rem;
    margin: 0;
  }

  /* Section : About Me */
  section.aboutme {
    margin-top: 120px;
  }

  .about_wr {
    border-radius: 16px;
    padding: 20px 25px;
  }
  .about:not(:last-child) {
    margin-bottom: 35px;
  }
  .about_tit {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  .about p {
    font-size: 1.4rem;
  }

  /* Section : Portfoilo */
  section.portfolio {
    margin-top: 120px;
  }
  section.portfolio .section_tit_wr {
    margin-bottom: 50px;
  }
  
  .portfolio_wr {
    display: unset;
  }
  
  .project_list_wr {
    width: 100%;
    height: 100%;
    position: unset;
  }
  .project_list {
    position: unset;
    transform: unset;
    display: flex;
    gap: 10px;
  }
  .project_list li {
    width: 100%;
  }
  .project_list a {
    padding: 18px;
    border-radius: 16px;
    border: 1px solid rgba(113, 107, 121, 0.2);
  }
  .project_list li.active a {
    border: none;
  }
  .project_list img {
    width: 60px;
    height: 60px;
  }
  .project_list .project_tit {
    font-size: 1.3rem;
    margin-left: 10px;
    line-height: 1.5em;
    white-space: nowrap;
  }
  .project_tit span {
    font-size: 1.1rem;
    color: #716b79;
    display: block;
  }

  .project_wr {
    width: 100%;
    margin-top: 60px;
  }
  .project:not(:last-child) {
    margin-bottom: 0;
  }  
  .project:not(:first-child) {
    display: none;
  }

  .project_img_pc,
  .project_img_m {
    height: 290px;
    user-select: none;
    -webkit-user-drag: none;
  }
  .project_img_pc {
    width: 460px;
  }
  .project_img_m {
    width: 133px;
    margin-left: 30px;
  }

  .project#sky_main .project_img_pc:active,
  .project#sky_main .project_img_m:active,
  .project#sky_sub .project_img_pc:active,
  .project#sky_sub .project_img_m:active,
  .project#gmz_main .project_img_pc:active,
  .project#gmz_main .project_img_m:active {
    background-position: bottom;
  }

  .project_sub {
    margin-top: 35px;
    border-radius: 16px;
    padding: 35px 40px 40px 40px;
  }
  .project_sub .project_tit {
    font-size: 1.8rem;
  }
  .project_sub .project_tit span {
    font-size: 1.4rem;
    margin: 0;
    display: block;
  }
  .project_desc {
    margin-top: 20px;
  }
  .project_desc span {
    font-size: 1.5rem;
  }
  .project_sub a {
    font-size: 1.3rem;
    padding: 6px 70px;
    margin-top: 25px;
  }


  /* Footer */
  footer {
    width: 100%;
    margin-top: 80px;
  }
  .ft_inner {
    padding: 0 20px 40px 20px;
  }
  .ft_lt {
    line-height: 1.2em;
  }
  footer .info {
    font-size: 1.1rem;
  }
  footer .info span {
    font-size: 1rem;
  }
  .cr {
    font-size: 1.1rem;
    margin-top: 8px;
  }

  /* Footer */
  .top_btn {
    width: 38px;
    height: 38px;
  }
  .top_btn i {
    font-size: 1.4rem;
    line-height: 38px;
  }

}

@media screen and (max-width:767px) {
    /* Section : Main */
    .main_txt p {
      font-size: 4.2rem;
    }  

  /* Section : Portfoilo */
  section.portfolio .section_tit_wr {
    margin-bottom: 40px;
  }

  .project_list li {
    flex: 1;
    width: 100%;
  }
  .project_list a {
    padding: 20px 0 15px 0;
    flex-direction: column;
    text-align: center;
  }
  .project_list .project_tit {
    margin: 0;
    margin-top: 10px;
  }



  .project_img_wr {
    white-space: nowrap;
    overflow-x: auto;
  }
  .project_img_wr::-webkit-scrollbar {
    display: none;
  }
  .project_img_pc,
  .project_img_m {
    display: inline-block;
    height: 195px;
    overflow: hidden;
    border-radius: 12px;
    background-position: top;
  }
  .project_img_pc {
    width: 310px;
    transition: 3s 0.15s ease-in-out;
  }
  .project_img_m {
    width: 90px;
    margin-left: 10px;
    transition: 4s 0.15s ease-in-out;
  }
  
















}
