@media screen and (max-width:1023px) {
  /* Header */
  header.fill .hd_inner {
    background-color: rgba(250, 247, 228, 0.95);
    box-shadow: 0 2px 4px rgba(139, 122, 66, 0.1);
  }

  .hd_inner {
    height: 60px;
    padding: 0 20px;
  }

  .hd_lt h1.logo {
    width: 50px;
    height: 40px;
  }

  .hd_menu_bar {
    width: 28px;
    height: 20px;
    left: unset;
    right: 10px;
    z-index: 1;
  }
  .hd_menu_bar span:nth-child(2) {
    width: 18px;
  }
  .hd_menu_bar.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .hd_menu_bar.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  
  .hd_menu {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: unset;
    background-color: rgba(34, 34, 34, 0.7);
  }
  .hd_menu .shape_tail {
    display: none;
  }
  .hd_menu_inner {
    height: 100%;
    padding-top: 80px;
    border-radius: 20px 0 0 20px;
    position: absolute;
    right: 0;
  }
  .hd_menu_inner li {
    text-align: left;
  }
  .hd_menu_inner .contact {
    position: absolute;
    bottom: 50px;
    width: 100%;
  }
  .hd_menu_inner .contact span {
    text-transform: uppercase;
    font-weight: bold;
    color: #6b5684;
    margin-bottom: 5px;
    display: inline-block;
    position: relative;
    width: 100%;
  }
  .hd_menu_inner .contact span::after {
    content: '';
    width: 100%;
    height: 1px;
    border-radius: 20px;
    background-color: #6b5684;
    display: block;
    position: absolute;
    top: -15px;
  }
  .hd_menu_inner .contact p {
    font-size: 1.5rem;
  }
  .hd_menu_inner .contact i {
    font-size: 1.2rem;
    margin-right: 6px;
    color: #6b5684;  
  }
  .hd_rt .contact .tel i {
    font-size: 1.1rem;
  }

  .hd_rt {
    display: none;
  }

  /* Container */
  .container {
    width: 100%;
    padding: 0 25px;
  }

  /* Section : Main */
  .main_txt p {
    font-size: 5.6rem;
  }

  /* Section Tit Common */
  .section_tit_wr {
    margin: 0 0 50px 20px;
  }
  
  /* Section : Profile */
  .profile_wr {
    margin-top: 180px;
  }
  .profile_img {
    width: 220px;
    height: 220px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .profile_info_wr {
    width: 100%;
    margin: 0;
    padding: 150px 45px 40px 45px;
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }
  .profile_info > .profile_info_tit:not(:first-child) {
    margin-top: 40px;
  }
  
  .profile_info .personal li {
    display: inline-block;
  }
  .profile_info .personal li:nth-child(4) {
    margin-bottom: 0;
  }
  .profile_info .personal p {
    display: inline-block;
    margin-left: 8px;
    margin-right: 25px;
  }

  .profile_info button:active {
    background-color: #d0badf;
    color: #fff;
  }

  /* Section : About Me */
  section.aboutme {
    margin-top: 140px;
  }
  .about_wr {
    padding: 40px 45px;
  }
  .about:not(:last-child) {
    margin-bottom: 40px;
  }
  .about_tit {
    margin-bottom: 12px;
  }

  /* Section : Portfoilo */
  section.portfolio {
    margin-top: 140px;
  }
  section.portfolio .section_tit_wr {
    margin-bottom: 50px;
  }

  .portfolio_wr {
    display: unset;
  }
  
  .project_list_wr {
    width: 100%;
    height: 100%;
    position: unset;
  }
  .project_list_wr::-webkit-scrollbar {
    display: none;
  }
  .project_list {
    position: unset;
    transform: unset;
    display: flex;
    gap: 10px;
    background-color: #faf7e4;
  }
  .project_list li {
    width: 100%;
  }
  .project_list a {
    padding: 16px 20px;
    border: 1px solid rgba(113, 107, 121, 0.2);
  }
  .project_list li.active a {
    border: none;
  }

  .project_list img {
    width: 60px;
    height: 60px;
  }

  .project_wr {
    width: 100%;
    margin-top: 60px;
  }

  .project:not(:last-child) {
    margin-bottom: 0;
  }  
  .project:not(:first-child) {
    display: none;
  }  

  .project_img_pc,
  .project_img_m {
    height: 290px;
    user-select: none;
    -webkit-user-drag: none;
  }
  .project_img_pc {
    width: 460px;
  }
  .project_img_m {
    width: 133px;
  }

  .project#sky_main .project_img_pc:active,
  .project#sky_main .project_img_m:active,
  .project#sky_sub .project_img_pc:active,
  .project#sky_sub .project_img_m:active,
  .project#gmz_main .project_img_pc:active,
  .project#gmz_main .project_img_m:active {
    background-position: bottom;
  }

  .project_sub {
    padding: 40px 45px;
  }

  /* Footer */
  footer {
    width: 100%;
    margin-top: 100px;
  }
  .ft_inner {
    padding: 0 25px;
    padding-bottom: 20px;
  }

}

@media screen and (max-width:767px) {
  /* CSS */
  body {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 2rem;
  }

  /* Header */
  .hd_lt h1.logo {
    width: 40px;
    height: 30px;
  }

  .hd_menu_bar {
    scale: 0.9;
  }

  .hd_menu_inner {
    width: 300px;
    padding: 40px;
    padding-top: 60px;
    border-radius: 14px 0 0 14px;
  }

  /* Section : Main */
  .main_txt p {
    font-size: 4rem;
  }

  /* Section : Profile */
  .profile_img {
    width: 200px;
    height: 200px;
  }

  .profile_info_wr {
    border-radius: 14px;
  }
  .profile_info span {
    font-size: 1.4rem;
  }
  .profile_info p {
    font-size: 1.6rem;
  }

  .profile_info button {
    font-size: 1.3rem;
  }
  
  /* Section : About Me */
  .about_wr {
    border-radius: 14px;
    padding: 25px 20px;
  }
  .about_tit {
    font-size: 1.6rem;
    margin-bottom: 8px;
  }
  .about p {
    font-size: 1.4rem;
  }

  /* Section : Portfoilo */
  .project_list_wr {
    /* overflow-x: auto; */
    white-space: nowrap;
  }
  .project_list li {
    width: 100%;
  }
  .project_list a {
    flex-direction: column;
    padding: 14px;
    padding-bottom: 8px;
    border-radius: 14px;
  }
  .project_list img {
    width: 50px;
    height: 50px;
  }

  .project_tit {
    font-size: 1.4rem;
    margin-left: 0;
    margin-top: 5px;
    text-align: center;
  }
  .project_tit span {
    font-size: 1.1rem;
    margin-top: -6px;
    display: block;
  }

  .project_wr {
    margin-top: 40px;
  }

  .project_img_wr {
    white-space: nowrap;
    overflow-x: auto;
  }
  .project_img_wr::-webkit-scrollbar {
    display: none;
  }

  .project_img_pc,
  .project_img_m {
    height: 200px;
    border-radius: 8px;
  }
  .project_img_pc {
    width: 320px;
  }
  .project_img_m {
    width: 92px;
    margin-left: 10px;
  }

  .project_sub {
    margin-top: 30px;
    padding: 25px 20px;
    border-radius: 14px;
  }
  .project_sub .project_tit {
    font-size: 1.8rem;
    line-height: 1.8em;
  }
  .project_sub .project_tit span {
    font-size: 1.4rem;
    display: block;
    margin-left: 0;
  }

  .project_desc {
    margin-top: 20px;
  }
  .project_desc li {
    font-size: 1.4rem;
  }
  .project_desc span {}
  .project_desc p {}
  .project_sub a {
    font-size: 1.3rem;
  }



  /* Footer */
  footer {
    margin-top: 60px;
  }
  footer .info {
    font-size: 1.1rem;
    line-height: 2em;
  }
  footer .info span {
    font-size: 1rem;
  }
  .cr {
    font-size: 1.1rem;
  }



  .top_btn {
    width: 38px;
    height: 38px;
  }
  .top_btn i {
    font-size: 1.4rem;
    line-height: 38px;
  }


}